Package: ships
Version: 0.3-1
Depends: ash
Source: https://github.com/Nold360/ships
Section: security
Architecture: all
Installed-Size: 1024
Description: Shell Intrusion Prevention Script - fail2ban in shellscript.
